@import "tailwindcss";

@theme {
  --color-primary-dark-blue: #1D3557;
  --color-white: #FFFFFF;
  --color-nav-selected: #98AEC01A;
  --color-gray-border:#E0E8ED;
  --color-gray-bg:#F5F8FA;
  --color-background-info: #F9FAFA;
  --color-page-bg: #f6f8fa;
  --color-green-timeline: #1EA54E;
  --color-red-timeline: #DB1F26;
  --color-gray-text: #8597A8;
  --color-warning: #F59F0A;
  --color-full-uploaded: #0078D7;
  --color-light-gray-bg:#1B35570D;
  --color-table-header-bg:#F5F8FB;
  --color-status-approved-bg:#34C7591A;
  --color-status-approved-text:#34C759;
  --color-status-pending-bg:#FFCC001A;
  --color-status-pending-text:#FFCC00;
  --color-status-completed:#1EA54E;
  --color-status-in-progress:#F59F0A;
  --color-status-not-started:#9CA3AF;
  --color-status-partially-uploaded:#1D3557;
  --color-status-fully-uploaded:#0078D7;
  --color-status-delayed:#DB1F26;
  --color-percentage-badge-bg:#344967;
}
